* {
	box-sizing: border-box;
}

h1 {
	color: black;
	text-align: center;
	font-family: 'Cookie', cursive;
	font-size: 80px;
}

div .container {
    top: 60px;
}

div .gsquare {
	float: left;
    padding: 10px;
}

.content {
	background-color: gray;
    padding: 0 20px;
    color: white;
    border: 1px solid black;
    height: 250px;
}

h2 {
	border: 1px solid black;
	width: 100px;
	color: white;
	font-family: 'Cookie', cursive;
	position: relative;
	float:right;
	margin: 0;
	text-align: center;
}

.red {
	background-color: red;
}

.pink {
	background-color: pink;
}

.green {
	background-color: green;
}

p {
	color: white;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}



@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%;
		display: inline-block;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 50%;
		display: inline-block;
	}
	.col-md-12 {
		width: 100%;
		display: inline-block;
	}
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: 33%;
		display: inline-block;
	}
}